body {
  background-color: #20123a;
  display: block;
}
.title strong {
  position: relative;
}
strong {
  font-weight: bold;
}
.title strong:after {
  background-image: url(https://www.mozilla.org/media/protocol/img/zaps/zap-08.fc201d70f76b.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  display: block;
  height: 0.3em;
  left: -0.2em;
  position: absolute;
  top: calc(100% - 0.15em);
  width: calc(100% + 0.4em);
}
h1 {
  color: white;
  font-family: "Sedgwick Ave Display", cursive;
  letter-spacing: 0.1em;
  font-size: 59px;
  text-align: center;
}

