<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 reFlair</title>
    <link rel="stylesheet" href="../static/css/notfound.css">
</head>

<body>
    <div class="mars"></div>
    <img src="https://mars-404.templateku.co/img/404.svg" class="logo-404" />
    <img src="https://mars-404.templateku.co/img/meteor.svg" class="meteor" />
    <p class="title_404">Oh no!!</p>
    <p class="subtitle">
        You’re either misspelling the URL <br /> or requesting a page that's no longer here.<br /> Please make sure URL
        is from r/India.
    </p>
    <div align="center">
        <a class="btn-back" href="/">Back to Home</a>
        <a class="btn-back" href="mailto:shubhamkrai123@gmail.com?Subject=reFlare%20Error" target="_top">Contact Us</a>
    </div>
    <img src="https://mars-404.templateku.co/img/astronaut.svg" class="astronaut" />
    <img src="https://mars-404.templateku.co/img/spaceship.svg" class="spaceship" />

</body>

</html>